.container-checklist {
  display: list-item;
  list-style-type: none;
}
.checklist-task-item {
  border: solid 1px;
  padding: 15px;
  position: relative;
}
.link-twelveList {
  font-family: "Playfair Display", serif;
  color: #4c5c87;
  font-size: 15px;
  text-decoration: none;
}

.link-eightList {
  font-family: "Playfair Display", serif;
  color: #4c5c87;
  font-size: 15px;
  text-decoration: none;
}

.link-fourList {
  font-family: "Playfair Display", serif;
  color: #4c5c87;
  font-size: 15px;
  text-decoration: none;
}

.link-oneList {
  font-family: "Playfair Display", serif;
  color: #4c5c87;
  font-size: 15px;
  text-decoration: none;
}
ul :hover {
  color: #1d4d4f;
}
li {
  list-style-type: none;
  display: flex;
  border: solid 1px;
  padding: 10px;
  width: 600px;
}
.bin-icon :hover {
  border: solid 1px;
  border-color: #1d4d4f;
  padding: 10px 15px;
  position: absolute;
}
.bin-icon {
  position: absolute;
  right: 80px;
}
