body {
  background-color: #bbb;
}

.overlay {
  z-index: 50;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup {
  z-index: 100;
  position: fixed;
  top: 200px;
  left: 200px;
  right: 200px;
  background-color: white;
}
.checklist-link {
  font-family: "Playfair Display", serif;
  color: #4c5c87;
  font-size: 15px;
  text-decoration: none;
  width: 150px;
}
.mainpage-icon {
  width: 150px;
}
.container-icon {
  display: flex;
  justify-content: space-between;
}
.mainpage-carousel-container {
  width: 800px;
  position: relative;
}
